ACTIONS_STEP_DEBUG=true

INPUT_TOKEN=token
INPUT_FILE=docc_0.1.6_testUpload_amd64.deb
INPUT_VERSION=0.1.6-test
INPUT_DIST-ID=rhel
INPUT_DIST-VERSION-ID=10
INPUT_DIST-PLATFORM-ID=platform:el10
INPUT_CHANNEL=dev
INPUT_OS=linux
INPUT_ARCHITECTURE=x64
INPUT_URL=/v1/system/docc-distributions/upload